.main{
    background-image: url('./Sedora-logos_transparent.png');
    background-color: transparent;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-content{
    position: absolute;
    top: 40vh;
    left: 25vw;
    justify-content: center;
    text-align: center;
    white-space: 
}

